<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--email to send (change)-->
    <add key="email" value="email123@gmail.com"/>
    <!--user name (change)-->
    <add key="user" value="email123"/>
    <!--password (change)-->
    <add key="password" value="password123"/>
    <!--smtp adress (default gmail)-->
    <add key="smtp" value="smtp.gmail.com"/>
    <!--enable ssl (default gamil)(true/false)-->
    <add key="EnableSsl" value="true"/>
    <!--smtp port (default gmail)-->
    <add key="Port" value="587"/>
    <!--time to send email (minutes)-->
    <add key="time" value="20"/>
    <!--max length of save (delete after send)(letters)-->
    <add key="length" value="10000"/>
    
  </appSettings>
</configuration>